/**
 * Info Box Widget Styles
 *
 * @package BP_Elementor_Widgets
 * @since 1.0.0
 */

.bp-info-box {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $color-bg-light;
	border: 1px solid $color-border-light;
	border-radius: $border-radius-md;
	padding: $spacing-xl;
	@include transition(all);

	&:hover {
		transform: translateY(-5px);
		@include box-shadow(4);
	}

	// Icon Position: Top (default)
	&.bp-icon-position-top {
		align-items: center;
		text-align: center;
	}

	// Icon Position: Left
	&.bp-icon-position-left {
		flex-direction: row;
		align-items: flex-start;
		text-align: left;

		.bp-info-box-icon {
			margin-right: $spacing-lg;
			margin-bottom: 0;
		}

		.bp-info-box-content {
			flex: 1;
		}
	}

	// Icon Position: Right
	&.bp-icon-position-right {
		flex-direction: row-reverse;
		align-items: flex-start;
		text-align: right;

		.bp-info-box-icon {
			margin-left: $spacing-lg;
			margin-bottom: 0;
		}

		.bp-info-box-content {
			flex: 1;
		}
	}
}

// Icon
.bp-info-box-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: $spacing-lg;
	line-height: 1;

	i {
		font-size: 50px;
		color: $color-primary;
		@include transition(all);
	}

	svg {
		width: 50px;
		height: 50px;
		fill: $color-primary;
		@include transition(all);
	}

	.bp-info-box:hover & {
		i, svg {
			transform: scale(1.1);
		}
	}
}

// Content
.bp-info-box-content {
	display: flex;
	flex-direction: column;
}

// Title
.bp-info-box-title {
	margin: 0 0 $spacing-md 0;
	font-size: $font-size-xlarge;
	font-weight: $font-weight-semibold;
	color: $color-text-dark;
	line-height: 1.3;
}

// Description
.bp-info-box-description {
	margin: 0;
	font-size: $font-size-base;
	color: $color-text-medium;
	line-height: 1.6;
}

// Button
.bp-info-box-button {
	display: inline-block;
	margin-top: $spacing-lg;
	padding: 12px $spacing-xl;
	background-color: $color-primary;
	color: #ffffff;
	font-size: $font-size-base;
	font-weight: $font-weight-semibold;
	text-decoration: none;
	border-radius: $border-radius-sm;
	@include transition(all);
	align-self: flex-start;

	.bp-info-box.bp-icon-position-top & {
		align-self: center;
	}

	.bp-info-box.bp-icon-position-right & {
		align-self: flex-end;
	}

	&:hover {
		background-color: $color-primary-dark;
		transform: translateY(-2px);
		box-shadow: 0 4px 15px rgba($color-primary, 0.3);
	}
}

// When the entire box is a link
a.elementor-widget-container > .bp-info-box {
	cursor: pointer;
}

a.elementor-widget-container {
	text-decoration: none;
	color: inherit;
}

// Responsive Styles
@include tablet {
	.bp-info-box {
		padding: $spacing-lg;

		&.bp-icon-position-left,
		&.bp-icon-position-right {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&.bp-icon-position-left .bp-info-box-icon,
		&.bp-icon-position-right .bp-info-box-icon {
			margin: 0 0 $spacing-lg 0;
		}
	}

	.bp-info-box-title {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.bp-info-box-description {
		font-size: $font-size-small;
	}

	.bp-info-box-button {
		padding: 10px 24px;
		font-size: $font-size-small;
	}
}

